.landing
  .text-center(style='margin-top: 1%')
    div
      img(src='https://raw.githubusercontent.com/benthemonkey/Giftique/master/public/img/giftiqueme-logo-white-shadow.png', style='width: 30%; min-width: 200px; margin: 20px 0;')
    .row-fluid
      .span4.offset4
        p.tagline Translating your relationships into gifts crafted with love.
        a#facebook-log-in(href='#')
          img(src='https://raw.githubusercontent.com/benthemonkey/Giftique/master/public/img/facebook-button.png', style='width: 250px; margin: 5px 0')
        p
          a#anonymous-log-in(href='#') Login Anonymously