a.dropdown-toggle(data-toggle='dropdown', role='button', href='#')
  #{currentUser}
  i.icon-chevron-down.icon-blue
ul.dropdown-menu(role='menu')
  li
    a(href='#account') Account
  li
    a#log-out(href='#') Logout